<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Category</th>
            <th>Details</th>
            <th>Created</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @category.id %></td>
            <td><%= @category.category %></td>
            <td><%= @category.details %></td>
            <td><%= @category.created_at %></td>
            <td><%= @category.updated_at %></td>
        </tr>
    </tbody>
</table>